<!-- start custom footer snippets -->

<!-- <div style="position: fixed; bottom: 10px; right: 10px;">
 <a>
    <img src="https://hitscounter.dev/api/hit?url=https%3A%2F%2Fjinxianwu.github.io&label=&icon=mouse&color=%23fff&message=&style=flat&tz=UTC">
  </a>
</div> -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G2F2XEFEJN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G2F2XEFEJN');
</script>

<!-- end custom footer snippets -->
